#!/usr/bin/make -f

PROJECT = snowflake-client
OUT = ${CURDIR}/debian/${PROJECT}

export DH_OPTIONS
export DH_GOPKG := git.torproject.org/pluggable-transports/snowflake.git/v2
export GOCACHE := ${CURDIR}/.cache
export GOFLAGS := -ldflags=-w -ldflags=-s -ldflags=-checklinkname=0
#export PATH := /usr/local/src/golang/go/bin:${PATH}

%:
	dh $@

override_dh_auto_build:
	cd client && go env && go build

override_dh_auto_clean:
	cd client && go clean && go clean -cache

override_dh_auto_install:
	dh_auto_install --destdir="${OUT}"
	install -Dm755 "client/client" "${OUT}/usr/bin/${PROJECT}"

override_dh_auto_test:

override_dh_dwz:
